<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CPPInstaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GroundBase.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IntegrationTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SystemTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnitTestsCPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>593AD5F21FAC5917005402D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>593AD6111FAC5980005402D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59444FB91F860FB000D39F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59444FD91F86110800D39F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59503D481D378D7400FDA861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59503D5E1D378DD400FDA861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59612C2B1DB6A32E005222E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59612C3A1DB6A3BA005222E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59CAD77E205C4794007A8703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
